<div class="col-lg-20">
      <div class="row">
            <div class="col-md-6 col-sm-12">
                  <app-estatisticas-medicamento></app-estatisticas-medicamento>
            </div>
            <div class="col-md-6 col-sm-12">
                  <app-pir-estatisticas></app-pir-estatisticas>
            </div>
      </div>
      <div>
            <app-anonimo></app-anonimo>
      </div>
</div>
<!--/.col-->