<div class="modal-header">
  <h4 class="modal-title pull-center">Interações Danosas!</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)=" bsmodal.hide();">
    <span aria-hidden="true">&times;</span>
  </button>
</div>


<div class="modal-body text-center">
  <p>Tem a certeza de que quer criar receita?</p>
  <p><b>Existem as seguintes interações danosas:</b></p>
  <p *ngFor="let interacao of interacoes">{{interacao.Farmaco1}} x {{interacao.Farmaco2}}</p>
  <button type="button" class="btn btn-default" (click)="confirm();bsmodal.hide();">Sim</button>
  <button type="button" class="btn btn-primary" (click)="decline();bsmodal.hide();">Não</button>
</div>