<header class="app-header navbar">
  <button class="navbar-toggler d-lg-none" type="button" appMobileSidebarToggler>&#9776;</button>
  <a class="navbar-brand" href="#"></a>
  <button class="navbar-toggler d-md-down-none" type="button" appSidebarToggler>&#9776;</button>

  <ul class="nav navbar-nav ml-auto px-4">
    <li *ngIf="userInfo" class="nav-item dropdown" dropdown (onToggle)="toggled($event)">
      <a href class="nav-link dropdown" dropdownToggle (click)="false">
        <i class="icon-bell"></i>
        <span class="badge badge-pill badge-danger">{{mensagens.length}}</span>
      </a>
      <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg">
        <div class="dropdown-header text-center">
          Tem {{mensagens.length}} notificações
        </div>
        <a *ngFor="let mensagem of mensagens" class="dropdown-item " (click)="notificar(mensagem)">
          <i class="icon-envelope-letter text-success"></i> {{mensagem | hideMessage}}
        </a>
      </div>
    </li>
    <li *ngIf="userInfo" class="nav-item dropdown" dropdown (onToggle)="toggled($event)">
      <a href class="nav-link dropdown-toggle" dropdownToggle (click)="false">
        <img *ngIf="userInfo.medico" src="assets/img/avatars/medico.png" class="img-avatar">
        <img *ngIf="userInfo.farmaceutico" src="assets/img/avatars/farmaceutico.png" class="img-avatar">
        <img *ngIf="!userInfo.medico && !userInfo.farmaceutico" src="assets/img/avatars/utente.png" class="img-avatar">
        <span class="d-md-down-none">{{userInfo.name}}</span>
      </a>
      <div class="dropdown-menu dropdown-menu-right" *dropdownMenu aria-labelledby="simple-dropdown">
        <a class="dropdown-item" (click)="logout()">
          <i class="fa fa-lock"></i> Logout</a>
        <a class="dropdown-item">
          <label class="switch switch-xs switch-3d switch-primary">
            <input type="checkbox" (change)="alterarDoisFatoroes($event)" class="switch-input" [checked]="doisFatoresAtivado">
            <span class="switch-label"></span>
            <span class="switch-handle"></span>
          </label>
          <label *ngIf="doisFatoresAtivado">Desativar 2 fatores</label>
          <label *ngIf="!doisFatoresAtivado">Ativar 2 fatores</label>
        </a>
        <a class="dropdown-item" (click)="termos()">
          <i class="fa fa-lock"></i> Termos & Condições</a>
        <a class="dropdown-item" (click)="editar()">
          <i class="fa fa-lock"></i> Editar Conta</a>
          <a class="dropdown-item" (click)="editarPassword()">
              <i class="fa fa-lock"></i> Editar password</a>
        <a class="dropdown-item" (click)="desativar()">
          <i class="fa fa-lock"></i> Desactivar Conta</a>
      </div>
    </li>
  </ul>

</header>


<div class="app-body">
  <!-- Menu of anonymous  -->
  <div *ngIf="!userInfo" class="sidebar">
    <nav class="sidebar-nav">
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" [routerLink]="['apresentacoes']">
            <i class="fa fa-list-alt"></i> Lista Apresentações
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" [routerLink]="['login']">
            <i class="icon-login"></i> Login
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" [routerLink]="['register']">
            <i class="fa fa-user-plus"></i> Registo
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" [routerLink]="['estatisticas/anonimo']">
            <i class="fa fa-bar-chart"></i> Estatísticas
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" [routerLink]="['mapa']">
            <i class="fa fa-map-marker"></i> Mapa de Farmacias
          </a>
        </li>
      </ul>
    </nav>
  </div>
  <!-- Menu of medico  -->
  <div *ngIf="userInfo && userInfo.medico" class="sidebar">
    <nav class="sidebar-nav">
      <ul class="nav">
        <li class="nav-item nav-dropdown" routerLinkActive="open" appNavDropdown>
          <a class="nav-link nav-dropdown-toggle" href="#" appNavDropdownToggle>
            <i class="icon-puzzle"></i> Receita</a>
          <ul class="nav-dropdown-items">

            <li class="nav-item">
              <a class="nav-link" routerLinkActive="active" [routerLink]="['receitas/medico/criar']">
                <i class="icon-note"></i> Criar Receita
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLinkActive="active" [routerLink]="['receitas/medico/editar']">
                <i class="icon-note"></i> Atualizar Receita
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" [routerLink]="['receitas/medico/comentario']">
            <i class="fa fa-comment-o"></i> Comentar Apresentação
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" [routerLink]="['estatisticas/medico']">
            <i class="fa fa-bar-chart"></i> Estatísticas
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" [routerLink]="['mapa']">
            <i class="fa fa-map-marker"></i> Mapa de Farmacias
          </a>
        </li>
      </ul>
    </nav>
  </div>

  <!-- Menu of utente  -->
  <div *ngIf="userInfo && !userInfo.farmaceutico && !userInfo.medico" class="sidebar">
    <nav class="sidebar-nav">
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" [routerLink]="['apresentacoes']">
            <i class="fa fa-list-alt"></i> Lista Apresentações
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" [routerLink]="['receitas/paciente']">
            <i class="fa fa-file-text-o"></i> Consultar Receita
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" [routerLink]="['estatisticas/paciente']">
            <i class="fa fa-bar-chart"></i> Estatísticas
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" [routerLink]="['mapa']">
            <i class="fa fa-map-marker"></i> Mapa de Farmacias
          </a>
        </li>
      </ul>
    </nav>
  </div>



  <!-- Main content -->
  <main class="main">

    <!-- Breadcrumb -->
    <ol class="breadcrumb">
      <app-breadcrumbs></app-breadcrumbs>
    </ol>

    <div class="container-fluid">
      <router-outlet></router-outlet>
    </div>
    <!-- /.conainer-fluid -->
  </main>
</div>