<div class="card">
  <div class="card-header">
    <strong>Receita</strong>
  </div>
  <div class="card-body">
    <div *ngIf="receitas.length > 0">
      <table class="table table-striped table-responsive table-hover">
        <thead>
          <tr>
            <th>Medico</th>
            <th>Paciente</th>
            <th>Data</th>
            <th>Prescricoes</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let receita of receitas">
            <td>{{receita.medico.name}}</td>
            <td>{{receita.paciente.name}}</td>
            <td>{{receita.data | formateDate}}</td>
            <td *ngIf="!receita.havePrescricoes">
              <button type="button" [disabled]="!mostrarPrescricoes" (click)="showPrescricoes(receita)" class="btn btn-success">Mostrar</button>
            </td>
            <td *ngIf="receita.havePrescricoes">
              <button type="button" (click)="dontShowPrescricoes(receita)" class="btn btn-danger">Esconder</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="card">
  <div class="card-header">
    <strong>Prescrições</strong>
  </div>
  <div class="card-body">
    <table class="table table-striped table-responsive table-hover">
      <thead>
        <tr>
          <th>Farmaco</th>
          <th>Unidades</th>
          <th>Validade</th>
          <th>Posologia</th>
          <th>Concentração</th>
          <th>Forma</th>
          <th>Quantidade</th>
          <th>Posologias</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let prescricao of prescricoes">
          <td>{{prescricao.farmaco}}</td>
          <td>{{prescricao.quantidade}}</td>
          <td>{{prescricao.validade | formateDate}}</td>
          <td>{{prescricao.posologiaPrescrita}}</td>
          <td>{{prescricao.apresentacao.concentracao}}</td>
          <td>{{prescricao.apresentacao.forma}}</td>
          <td>{{prescricao.apresentacao.quantidade}}</td>
          <td>
            <button type="button" class="btn btn-success" (click)="openModalComentariosWithComponent(prescricao.farmacoId)">
              <i class="fa fa-search"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>