<div class="modal-header">
  <h4 class="modal-title pull-left">Alterar password</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="fechar(); bsModalRef.hide();">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="form-group row">
    <label class="col-md-4">Password Antiga</label>
    <div class="col-md-8">
      <div class="input-group">
        <span class="input-group-addon">
          <i class="icon-lock"></i>
        </span>
        <input type="password" class="form-control" placeholder="antiga password" name="password" [(ngModel)]="oldPassword" (keyup)="oldEPassword(); validarParaGravar()"
          required />

      </div>
    </div>
  </div>
  <div *ngIf="errorOldPassword" class="form-group row">
    <label class="col-md-4"></label>
    <label class="col-md-8 helpblock">É obrigatório a antiga password</label>
  </div>

  <div class="form-group row">
    <label class="col-md-4">Nova Password</label>
    <div class="col-md-8">
      <div class="input-group">
        <span class="input-group-addon">
          <i class="icon-lock"></i>
        </span>
        <input type="password" class="form-control" placeholder="nova password" name="password2" [(ngModel)]="newPassword" (keyup)="newEPassword(); validarParaGravar()"
          required />
      </div>
    </div>
  </div>
  <div *ngIf="errorNewPassword" class="form-group row">
    <label class="col-md-4"></label>
    <label class="col-md-8 helpblock">É obrigatório inserir uma nova password</label>
  </div>
  <div class="form-group row">
    <label class="col-md-4">Repetir Password</label>
    <div class="col-md-8">
      <div class="input-group">
        <span class="input-group-addon">
          <i class="icon-lock"></i>
        </span>
        <input type="password" class="form-control" placeholder="repetir password" name="password3" [(ngModel)]="repeatPassword"
          (keyup)="repeatEPassword(); validarParaGravar()" required />
      </div>
    </div>
  </div>
  <div *ngIf="errorRepeatPassword" class="form-group row">
      <label class="col-md-4"></label>
      <label class="col-md-8 helpblock">Passwords têm de ser iguais</label>
    </div>
  <div class="row">
    <div class="col-md-2">
      <button type="button" [disabled]="!isToSave" class="btn btn-success" (click)="guardar(); bsModalRef.hide();">Guardar</button>
    </div>
  </div>
</div>