<div class="modal-header">
  <h4 class="modal-title pull-left">{{title}}</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="fechar(); bsModalRef.hide();">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="form-group row">
    <label class="col-md-4">Medicamento</label>
    <div class="col-md-8">
      <select name="med" [(ngModel)]="stock.idMedicamento" class="form-control" (click)="validarParaGravar()">
        <option value="0">--------</option>
        <option *ngFor="let medicamento of medicamentos" [value]="medicamento.id">
          Nome: {{medicamento.nome}}, Farmaco: {{medicamento.nomeFarmaco}}, Forma: {{medicamento.forma}}, Concentração: {{medicamento.concentracao}},
          Quantidade {{medicamento.quantidade}}</option>
      </select>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-md-4">Quantidade Atual</label>
    <div class="col-md-8">
      <input name="qtdAtual" type="number" class="form-control" placeholder="Quantidade atual" [(ngModel)]="stock.quantidadeAtual"
        required (keyup)="validarParaGravar()" (click) ="validarParaGravar()">
    </div>
  </div>
  <div class="form-group row">
    <label class="col-md-4">Quantidade Mínima</label>
    <div class="col-md-8">
      <input name="qtdMinima" type="number" class="form-control" placeholder="Quantidade mínimina" [(ngModel)]="stock.quantidadeMinima"
        required (keyup)="validarParaGravar()"  (click) ="validarParaGravar()">
    </div>
  </div>
  <div class="form-group row">
    <label class="col-md-4">Quantidade Lote</label>
    <div class="col-md-8">
      <input name="quantidade" type="number" class="form-control" id="inputQuantidadeLote" placeholder="Quantidade Lote" [(ngModel)]="stock.quantidadeLote"
        required (keyup)="validarParaGravar()"  (click) ="validarParaGravar()">
    </div>
  </div>
  <div class="row">
    <div class="col-md-2">
      <button type="button" [disabled]="!isToSave" class="btn btn-success" (click)="guardarStock(); bsModalRef.hide();">Guardar</button>
    </div>
  </div>
</div>