<div class="col-lg-20">
  <div class="card">
    <div class="card-header">
      Lista de Apresentações
    </div>
    <div class="card-body">
      <table class="table table-striped table-responsive">
        <thead>
          <tr>
            <th>Farmaco</th>
            <th>Quantidade</th>
            <th>Concentração</th>
            <th>Forma</th>
            <th>Comentar Apresentação</th>
            <th>Ver Comentários</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let apresentacao of apresentacoes">
            <td>{{apresentacao.farmaco.nome}}</td>
            <td>{{apresentacao.quantidade}}</td>
            <td>{{apresentacao.concentracao}}</td>
            <td>{{apresentacao.forma}}</td>
            <td>
              <button type="button" class="btn btn-success" (click)="openModalWithComponent(apresentacao.id)">
                <i class="fa fa-comment-o"></i>
              </button>
            </td>
            <td>
              <button type="button" class="btn btn-success" (click)="openModalComentariosWithComponent(apresentacao.id)">
                <i class="fa fa-search"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
