<div class="modal-header">
  <h4 class="modal-title pull-left">{{title}}</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide();">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div *ngFor="let comentario of comentarios" class="col-sm-2 col-md-12">
    <div class="card">
      <div class="card-body">
        {{comentario.descricao}}
      </div>
    </div>
  </div>
</div>