<div class="card-header">
  Percentagem de Formas dos Medicamentos Consumidos
</div>
<div class="card">
  <div class="card-body text-center">
    <app-donut-graph *ngIf='info && info.length > 0' [info]='info'></app-donut-graph>
    <p *ngIf='info && info.length == 0'>Não tem formas para dados estatísticos</p>

  </div>
</div>
<!--/.col-->