<form name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-8">
          <div class="card-group mb-0">
            <div class="card p-4">
              <div class="card-body">
                <h1>Login</h1>
                <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !email.valid }">
                  <div class="input-group">
                    <span class="input-group-addon">
                      <i class="icon-user"></i>
                    </span>
                    <input type="text" class="form-control" placeholder="email" name="email" [(ngModel)]="model.email" #email="ngModel" required />
                  </div>
                  <div *ngIf="f.submitted && !email.valid" class="helpblock">email é necessário</div>
                </div>
                <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
                    <div class="input-group mb-4">
                        <span class="input-group-addon">
                          <i class="icon-lock"></i>
                        </span>
                        <input type="password" class="form-control" placeholder="password" name="password" [(ngModel)]="model.password" #password="ngModel" required />
                      </div>
                  <div *ngIf="f.submitted && !password.valid" class="helpblock">Password é necessária</div>
                </div>
                <div class="row">
                  <div class="col-6">
                    <button [disabled]="loading" class="btn btn-sm btn-success">
                      <i class="fa fa-user"></i> Login</button>
                  </div>
                </div>
                <div *ngIf="error" class="alert alert-danger">{{error}}</div>
                <div class="row">
                  <div class="col-6">
                    <p class="text-muted">
                      Não tem conta em gestão de receitas?
                    </p>
                  </div>
                  <div class="col-6 text-right">
                    <a routerLink="/home/register">
                      <button type="button" class="btn btn-link px-20">Criar Conta</button>
                    </a>
                  </div>   
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
