<form name="form" (ngSubmit)="f.form.valid && register()" #f="ngForm" novalidate>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card mx-4">
          <div class="card-body p-4">
            <h1>Registo</h1>
            <p class="text-muted">Criar conta</p>
            <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !username.valid }">
              <div class="input-group mb-3">
                <span class="input-group-addon">
                  <i class="icon-user"></i>
                </span>
                <input type="text" class="form-control" placeholder="username" name="username" [(ngModel)]="model.username" #username="ngModel"
                  required />
              </div>
              <div *ngIf="f.submitted && !username.valid" class="helpblock">username is required</div>
            </div>
            <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !email.valid }">
              <div class="input-group mb-3">
                <span class="input-group-addon">@</span>
                <input type="email" class="form-control" placeholder="Email" name="email" [(ngModel)]="model.email" #email="ngModel" required
                />
              </div>
              <div *ngIf="f.submitted && !email.valid" class="helpblock">email is required</div>
            </div>
            <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
              <div class="input-group mb-3">
                <span class="input-group-addon">
                  <i class="icon-lock"></i>
                </span>
                <input type="password" class="form-control" placeholder="password" name="password" [(ngModel)]="model.password" #password="ngModel"
                  required />
              </div>

              <div *ngIf="f.submitted && !password.valid" class="helpblock">Password is required</div>
            </div>
            <div class="form-group" [ngClass]="{ 'has-error': f.submitted && (password == password2)}">
              <div class="input-group mb-3">
                <span class="input-group-addon">
                  <i class="icon-lock"></i>
                </span>
                <input type="password" class="form-control" placeholder="repeat password" name="password2" [(ngModel)]="model.password2"
                  #password2="ngModel" required />
              </div>
              <div *ngIf=" (f.submitted && model.password != model.password2)" class="helpblock">Passwords must be equals</div>
            </div>

            <label>
              <input type="checkbox" [checked]="checkTermos" (change)="checkTermos = !checkTermos">

              Li e aceito os <button type="button" style="padding-left: 1px; padding-top: 5px;" class="btn btn-link px-20" (click) = "abrirModal()">Termos & Condições</button>
            </label>
            <br/>

            <button [disabled]="loading || !checkTermos" class="btn btn-block btn-success">Criar Conta</button>
            <div *ngIf="error" class="alert alert-danger">{{error}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>