<div class="col-lg-20">
  <div class="card">
    <div class="card-header">
      Termos & Condições
    </div>
    <div class="card-body">


      <p>
        <b>1. Âmbito e Objeto das Condições Gerais do Serviço</b>
      </p>

      <p>As presentes Condições Gerais destinam-se, com o formulário de encomenda, e os demais elementos referidos nas mesmas,
        a regular os termos e as condições por que se regerá a prestação do Serviço Online de Receitas pela PIMmedica, com
        sede no Instituto Superior de Engenharia do Porto, sob o número único de matrícula e de identificação de pessoa coletiva
        nº 6655 e com o capital social de 00.00€.
      </p>

      <p> O Serviço consiste na disponibilização, através do endereço INDICAR de acesso ao Serviço Online de Receitas que, além
        de fornecer informação relativa a um conjunto de medicamentos, permite ao Utilizador, por via eletrónica, consultar
        as encomendas que lhe estão prescritas.
      </p>


      <p>
        <b>2. Informação de Produto e Conteúdos</b>
      </p>

      <p>A PIMmedica fará todos os possíveis para que a informação apresentada não contenha erros tipográficos, sendo que serão
        rapidamente corrigidos sempre que estes ocorram. Caso adquira um produto que tenha características diferentes às
        apresentadas online, tem o direito de proceder à resolução do contrato de compra nos termos legais aplicáveis.</p>

      <p>Todas as informações sobre medicamentos, receitas e serviços poderão ser alteradas a qualquer momento pela PIMmedica,
        Infarmed ou pelo médico (caso seja o médico responsável, este pode alterar a receita caso ache necessário).</p>

      <p>
        <b>3. Responsabilidades</b>
      </p>

      <p>
        <b>3.1</b> Todos os serviços comercializados no Serviço Online de Receitas da PIMmedica estão de acordo com a Lei Portuguesa.</p>

      <p>
        <b>3.2</b> O Serviço possui os adequados níveis de segurança, contudo a PIMmedica não será responsável por quaisquer
        prejuízos sofridos pelo Utilizador e/ou por terceiros, em virtude de atrasos, interrupções, erros e suspensões de
        comunicações que tenham origem em fatores fora do seu controlo, nomeadamente, quaisquer deficiências ou falhas provocadas
        pela rede de comunicações ou serviços de comunicações prestados por terceiros, pelo sistema informático, pelos modems,
        pelo software de ligação ou eventuais vírus informáticos ou decorrentes do descarregamento (“download”) através do
        serviço de ficheiros infetados ou contendo vírus ou outras propriedades que possam afetar o equipamento do Utilizador.
        Se por algum motivo de erro de acesso ao sítio eletrónico da Serviço Online de Receitas da PIMmedica houver impossibilidade
        de prestação de serviço, a PIMmedica não será responsável por eventuais prejuízos.</p>

      <p>
        <b>3.3</b> As consultas de dados e informação efetuadas no âmbito deste Serviço, presumem-se efetuadas pelo Utilizador,
        declinando a PIMmedica qualquer responsabilidade decorrente a utilização abusiva ou fraudulenta das informações obtidas.</p>

      <p>
        <b>3.4</b> A PIMmedica não será responsável por quaisquer perdas ou danos causados por utilizações abusivas do Serviço
        que lhe não sejam diretamente imputáveis a título de dolo ou culpa grave.</p>

      <p>
        <b>3.5</b> A PIMmedica não é responsável pelos prejuízos ou danos decorrentes do incumprimento ou cumprimento defeituoso
        do Serviço quando tal não lhe seja direta ou indiretamente imputável a título de dolo ou culpa grave, não se responsabilizando
        designadamente por (i) erros, omissões ou outras imprecisões relativos às informações disponibilizadas através do
        Serviço; (ii) danos causados por culpa do Utilizador ou de terceiros, incluindo as violações da propriedade intelectual,
        (iii) pelo incumprimento ou cumprimento defeituoso que resulte do cumprimento de decisões judiciais ou de autoridades
        administrativas ou (iv) pelo incumprimento ou cumprimento defeituoso que resulte da ocorrência de situações de força
        maior, ou seja, situações de natureza extraordinária ou imprevisível, exteriores à PIMmedica e que pela mesma não
        possam ser controladas, tais como incêndios, cortes de energia, explosões, guerras, tumultos, insurreições civis,
        decisões governamentais, greves, terramotos, inundações ou outros cataclismos naturais ou outras situações não controláveis
        pela PIMmedica que impeçam ou prejudiquem o cumprimento das obrigações assumidas.</p>

      <p>
        <b>3.6</b> A PIMmedica não garante que: </p>

      <p>
        <b>i)</b> o Serviço seja fornecido de forma ininterrupta, seja seguro, sem erros ou funcione de forma infinita;</p>

      <p>
        <b>ii)</b> a qualidade de qualquer produto, serviço, informação ou qualquer outro material comprado ou obtido através
        do Serviço preencha quaisquer expectativas do Utilizador em relação ao mesmo;</p>

      <p>
        <b>iii)</b> qualquer material obtido de qualquer forma através da utilização do Serviço é utilizado por conta e risco
        do Utilizador, sendo este o único responsável por qualquer dano causado ao seu sistema e equipamento informático
        ou por qualquer perda de dados que resultem dessa operação.</p>

      <p>
        <b>iv)</b> nenhum conselho ou informação, quer oral quer escrita, obtida pelo Utilizador de ou através do Serviço criará
        qualquer garantia que não esteja expressa nestas Condições Gerais. </p>

      <p>
        <b>3.7</b> O Utilizador aceita que a PIMmedica não pode de forma nenhuma ser responsabilizada por qualquer dano, incluindo,
        mas não limitado a danos por perdas de lucros, dados, conteúdos, ou quaisquer outras perdas (mesmo que tenha sido
        previamente avisado pelo Utilizador sobre a possibilidade da ocorrência desses danos), resultantes:
      </p>

      <p>
        <b>i)</b> do uso ou impossibilidade de uso do Serviço;</p>

      <p>
        <b>ii)</b> da dificuldade de obtenção de qualquer substituto de bens/serviços;</p>

      <p>
        <b>iii)</b> do acesso ou modificação não autorizado a bases de dados pessoais.</p>

      <p>
        <b>4. Obrigações do Consumidor</b>
      </p>

      <p>
        <b>4.1</b> O utilizador compromete-se a:</p>

      <p>
        <b>i)</b> Facultar dados pessoais corretos;</p>

      <p>
        <b>ii)</b> Não utilizar identidades falsas;</p>

      <p>
        <b>5. Privacidade e Proteção de Dados Pessoais</b>
      </p>

      <p>
        <b>5.1</b> A PIMmedica garante a confidencialidade de todos os dados fornecidos pelos Utilizadores.</p>

      <p>
        <b>5.2</b> Os dados pessoais identificados no formulário de registo como sendo de fornecimento obrigatório são indispensáveis
        à prestação do Serviço pela PIMmedica. A omissão ou inexatidão dos dados fornecidos pelo Utilizador são da sua única
        e inteira responsabilidade e podem dar lugar à recusa de prestação do Serviço pela PIMmedica.</p>

      <p>
        <b>5.3</b> Os dados pessoais do Utilizador serão processados e armazenados informaticamente e destinam-se a ser utilizados
        pela PIMmedica para prescrição/emissão de receitas com os dados do paciente e a informação que lhe diz respeito e
        o envio de emails com notificações e/ou alertas sobre receitas prescritas.</p>

      <p>
        <b>5.4</b> Nos termos da legislação aplicável, é garantido ao Utilizador, sem encargos adicionais, o direito de acesso,
        retificação e atualização dos seus dados pessoais, diretamente ou mediante pedido por escrito, bem como o direito
        de oposição à utilização dos mesmos para as finalidades previstas no número anterior, devendo para o efeito contactar
        a entidade responsável pelo tratamento dos dados pessoais: 1150811@isep.ipp.pt.</p>

      <p>
        <b>5.5</b> A Internet é uma rede aberta, pelo que os dados pessoais do Utilizador, demais informações pessoais e todo
        o conteúdo alojado no Serviço poderão circular na rede sem condições de segurança, correndo, inclusive, o risco de
        serem acessíveis e utilizados por terceiros não autorizados para o efeito, não podendo a PIMmedica ser responsabilizada
        por esse acesso e/ou utilização.</p>

      <p>
        <b>5.6</b> Caso deixe de concordar com os termos e condições descritos, tem a opção de desativar permanentemente a conta
        de utilizador, que apaga os dados pessoais (Nome, Email e Password) mas mantém as receitas que foram passadas ao
        utilizador, mas agora a referenciar um utilizador desativado.</p>

      <p>
        <b>5.7</b> Por questões de segurança, está implementada a autenticação de dois fatores, em que é enviado um código para
        o email do utilizador aquando do login, para que confirme que é o mesmo que está a realizar o login e evitar a criação
        de contas com emails de outrem.</p>

      <p>
        <b>5.8</b> Caso ache necessário, o Utilizador poderá editar os seus dados pessoais (Nome e/ou Email) e a sua password,
        afetando naturalmente o login e o email no qual o Utilizador recebe notificações/alertas. </p>

      <p>
        <b>6. Propriedade Intelectual</b>
      </p>

      <p>
        <b>6.1</b> A Serviço Online de Receitas é um site registado e o Serviço prestado pelo próprio site é da responsabilidade
        da PIMmedica.</p>

      <p>
        <b>6.2</b> O Utilizador reconhece que o Serviço contém informação confidencial e está protegido pelos direitos de autor
        e conexos, propriedade industrial e demais legislações aplicáveis.</p>

      <p>
        <b>6.3</b> O Utilizador reconhece que qualquer conteúdo que conste na publicidade, destaque, promoção ou menção de qualquer
        patrocinador ou anunciante está protegido pelas leis relativas a direitos de autor e direitos conexos, pelas leis
        relativas a propriedade industrial e outras leis de proteção de propriedade, pelo que qualquer utilização desses
        conteúdos apenas poderá ocorrer ao abrigo de autorização expressa dos respetivos titulares.</p>

      <p>
        <b>6.4</b> O Utilizador compromete-se a respeitar na íntegra os direitos a que se refere o número anterior, designadamente
        abstendo-se de praticar quaisquer atos que possam violar a lei ou os referidos direitos, tais como a reprodução,
        a comercialização, a transmissão ou a colocação à disposição do público desses conteúdos ou quaisquer outros atos
        não autorizados que tenham por objeto os mesmos conteúdos.</p>

      <p>
        <b>7. Condições de Segurança do Serviço</b>
      </p>

      <p>
        <b>7.1</b> O Utilizador compromete-se a observar todas as disposições legais aplicáveis, nomeadamente, a não praticar
        ou a fomentar a prática de atos ilícitos ou ofensivos dos bons costumes, tais como o envio indiscriminado de comunicações
        não solicitadas (spamming) em violação do disposto na legislação aplicável ao tratamento de dados pessoais e às comunicações
        publicitárias através de aparelhos de chamada automática, devendo ainda observar as regras de utilização do Serviço,
        sob pena de a PIMmedica suspender ou desativar o Serviço.</p>

      <p>
        <b>7.2</b> O Utilizador expressamente reconhece e aceita que a Rede IP constitui uma rede pública de comunicações eletrónicas
        suscetível de utilização por vários utilizadores, e como tal, sujeitas a sobrecargas informáticas, pelo que a PIMmedica
        não garante a prestação do Serviço sem interrupções, perda de informação ou atrasos.</p>

      <p>
        <b>7.3</b> A PIMmedica não garante igualmente a prestação do Serviço em situações de sobrecarga imprevisível dos sistemas
        em que o mesmo se suporta ou de força maior (situações de natureza extraordinária ou imprevisível, exteriores à PIMmedica
        e que pela mesma não possam ser controladas).</p>

      <p>
        <b>7.4</b> Em caso de interrupção da prestação do Serviço por razões de sobrecarga imprevisível dos sistemas em que
        o mesmo se suporta, a PIMmedica compromete-se a regularizar o seu funcionamento com a maior brevidade possível.</p>

      <p>
        <b>8. Comunicações</b>
      </p>

      <p>
        <b>8.1</b> Sem prejuízo de outras formas de comunicação previstas nas presentes Condições Gerais, as notificações efetuadas
        ao Utilizador que se relacionem com o Serviço, incluindo eventuais alterações às presentes Condições Gerais, poderão
        ser efetuadas para o endereço de correio eletrónico do Utilizador.</p>

      <p>
        <b>8.2</b> O Utilizador aceita receber toda e qualquer comunicação e/ou notificação relacionada com o Serviço Online
        de Receitas, nomeadamente aquando da criação de uma receita, para o endereço de correio eletrónico (“e-mail”) indicados
        no processo de registo.</p>

      <p>
        <b>9. Reclamações</b>
      </p>

      <p>
        <b>9.1</b> O Utilizador pode submeter quaisquer conflitos contratuais, aos mecanismos de arbitragem e mediação que se
        encontrem ou venham a ser legalmente constituídos, bem como reclamar junto da PIMmedica de atos e omissões que violem
        as disposições legais aplicáveis à aquisição de bens.</p>

      <p>
        <b>9.2</b> A reclamação deverá ser apresentada no prazo máximo de 30 (trinta) dias, contados a partir do conhecimento
        dos factos pelo Utilizador, sendo registada nos sistemas de informação da PIMmedica que deverá decidir a reclamação
        e notificar o interessado no prazo máximo de 30 (trinta) dias, a contar da data da sua receção.</p>

      <p>
        <b>10. Lei Aplícavel</b>
      </p>

      <p>O Contrato rege-se pela lei portuguesa.</p>

    </div>
  </div>