<div class="col-lg-20">
  <div class="card">
    <div class="card-header">
      Farmacos mais vendidos
    </div>
    <div class="card-body text-center">
        <app-column-graph *ngIf='infoColumnGraph' [info]='infoColumnGraph'></app-column-graph>
    </div>
  </div>
</div>