<div class="modal-header">
  <h4 class="modal-title pull-left">Prescrição</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="fechar(); bsModalRef.hide();">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="form-group row">
    <label class="col-md-4">Farmaco</label>
    <div class="col-md-8">
      <select name="farmaco" [(ngModel)]="farmacoId" class="form-control" (click)="carregarApresentacoes(); carregarPosologias(); validarParaGravar();">
        <option value="0">--------</option>
        <option *ngFor="let farmaco of farmacos" [value]="farmaco.id">{{farmaco.nome}}</option>
      </select>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-md-4">Apresentação</label>
    <div class="col-md-8">
      <select name="apresentacao" [(ngModel)]="apresentacaoId" class="form-control" (click)="validarParaGravar()">
        <option value="0">--------</option>
        <option *ngFor="let apresentacao of apresentacoes" [value]="apresentacao.id">
          Forma: {{apresentacao.forma}} || Concentracao: {{apresentacao.concentracao}} || Quantidade {{apresentacao.quantidade}}</option>
      </select>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-md-4">Posologia</label>
    <div class="col-md-8">
      <select name="posologia" [(ngModel)]="posologiaId" class="form-control" (click)="validarParaGravar()">
        <option value="0">--------</option>
        <option *ngFor="let posologia of posologias" [value]="posologia.id">{{posologia.frequencia}}</option>
      </select>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-md-4">Quantidade</label>
    <div class="col-md-8">
      <input type="text" class="form-control" id="inputQuantidade" name="Quantidade" placeholder="quantidade" [(ngModel)]="quantidade"
      (keyup)="validarParaGravar()">
    </div>
  </div>
  <div class="form-group row">
    <label class="col-md-4">Validade</label>
    <div class="col-md-8">
      <input type="text" class="form-control" id="inputDate" name="Date" placeholder="DD/MM/YYYY" bsDatepicker [(bsValue)]="date"
      (bsValueChange)="onChange($event)">
    </div>
  </div>
  <div class="row">
    <div class="col-md-2">
      <button type="button" [disabled]="!isToSave"  class="btn btn-success" (click)="guardarPrescricao(); bsModalRef.hide();">Guardar</button>
    </div>
  </div>
</div>