<div class="card">
  <div class="card-header">
    <strong>Receita</strong>
  </div>
  <div class="card-body">
    <div *ngIf="receitas.length > 0">
      <table class="table table-striped table-responsive table-hover">
        <thead>
          <tr>
            <th>Medico</th>
            <th>Paciente</th>
            <th>Data</th>
            <th>Prescricoes</th>
            <th>Adicionar Prescrição</th>
            <th>Guardar Receita</th>

          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let receita of receitas">
            <td>{{receita.medico.name}}</td>
            <td>{{receita.paciente.name}}</td>
            <td>{{receita.data | formateDate}}</td>
            <td *ngIf="!receita.havePrescricoes">
              <button type="button" [disabled]="!mostrarPrescricoes" (click)="showPrescricoes(receita)" class="btn btn-success">Mostrar</button>
            </td>
            <td *ngIf="receita.havePrescricoes">
              <button type="button" (click)="dontShowPrescricoes(receita)" class="btn btn-danger">Esconder</button>
            </td>
            <td>
              <div class="col">
                <button type="button" [disabled]="!receita" class="btn btn-success" (click)="adicionar(receita)">
                  <i class="fa fa-plus"></i>
                </button>
              </div>
            </td>
            <td>
              <button type="button" [disabled]="!receita.isEdit" (click)="guardarReceita(receita)" class="btn btn-secondary">
                <i class="fa fa-save"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="card">
  <div class="card-header">
    <strong>Prescrições</strong>
  </div>
  <div class="card-body">
    <table class="table table-striped table-responsive table-hover">
      <thead>
        <tr>
          <th>Farmaco</th>
          <th>Unidades</th>
          <th>Validade</th>
          <th>Posologia</th>
          <th>Concentração</th>
          <th>Forma</th>
          <th>Quantidade</th>
          <th>Aviamentos</th>
          <th>Editar</th>
          <th>Remover</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let prescricao of prescricoes">
          <td>{{prescricao.farmaco}}</td>
          <td>{{prescricao.quantidade}}</td>
          <td>{{prescricao.validade | formateDate}}</td>
          <td>{{prescricao.posologiaPrescrita}}</td>
          <td>{{prescricao.apresentacao.concentracao}}</td>
          <td>{{prescricao.apresentacao.forma}}</td>
          <td>{{prescricao.apresentacao.quantidade}}</td>
          <td>{{prescricao.aviamentos.length}}</td>
          <td>
            <button type="button" [disabled]="prescricao.aviamentos.length > 0" (click)="editar(prescricao)" class="btn btn-danger">
              <i class="fa fa-edit"></i>
            </button>
          </td>
          <td>
            <button type="button" [disabled]="prescricao.aviamentos.length > 0" (click)="eliminar(prescricao)" class="btn btn-danger">
              <i class="fa fa-remove"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
