<div class="modal-header">
    <h4 class="modal-title pull-left">Editar Conta</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="fechar(); bsModalRef.hide();">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    
    <div class="form-group row">
      <label class="col-md-2">Nome</label>
      <div class="col-md-10">
        <input type="text" class="form-control" id="inputNome" name="Nome" placeholder="nome" [(ngModel)]="nome"
        (keyup)="validarParaGravar()">
      </div>
    </div>
    <div class="form-group row">
      <label class="col-md-2">Email</label>
      <div class="col-md-10">
        <input type="text" class="form-control" id="inputEmail" name="Email" placeholder="email" [(ngModel)]="email"
        (keyup)="validarParaGravar()">
      </div>
    </div>
    <div class="row">
      <div class="col-md-2">
        <button type="button" [disabled]="!isToSave"  class="btn btn-success" (click)="guardar(); bsModalRef.hide();">Guardar</button>
      </div>
    </div>
  </div>