<div class="modal-header">
  <h4 class="modal-title pull-left">{{title}}</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="fechar(); bsModalRef.hide();">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="form-group row">
  </div>
  <div class="form-group row">
    <label class="col-md-4">Medicamento</label>
    <div class="col-md-8">
      <select name="med" [(ngModel)]="medicamentoId" class="form-control" (click)="validarParaGravar()">
        <option value="0">--------</option>
        <option *ngFor="let medicamento of medicamentos" [value]="medicamento.id">
          Nome: {{medicamento.nome}}, Farmaco: {{medicamento.nomeFarmaco}}, Forma: {{medicamento.forma}}, Concentração: {{medicamento.concentracao}}, Quantidade {{medicamento.quantidade}}</option>
      </select>
    </div>
  </div>
  <div class="form-group row">
      <label class="col-md-4">Quantidade</label>
      <div class="col-md-8">
        <input type="number" class="form-control" id="inputQuantidade" name="Quantidade" placeholder="quantidade" [(ngModel)]="quantidade"
        (keyup)="validarParaGravar()" (click)="validarParaGravar()">
      </div>
    </div>
  <div class="row">
    <div class="col-md-2">
      <button type="button" [disabled]="!isToSave"  class="btn btn-success" (click)="guardarAviamento(); bsModalRef.hide();">Guardar</button>
    </div>
  </div>
</div>