<div class="card-header">
  Prescrições
</div>
<div class="card">
  <div class="card-body text-center">
    <app-pir-graph *ngIf='infoGraph && canContinue' [info]='infoGraph'></app-pir-graph>
    <p *ngIf='infoGraph && !canContinue'>Não tem prescrições para dados estatísticos</p>
  </div>
</div>
<!--/.col-->