<div class="col-lg-12">
  <div class="card">
    <div class="card-header">
      <i class="fa fa-edit"></i>Criar Receita
    </div>
    <div class="card-body">
      <label class="form-control-label" for="inputEmail">Email do Utente</label>
      <div class="row">

        <div class="col-md-10 col-sm-6">
          <input type="text" placeholder="Email do Utente" id="inputEmail" name="email" [(ngModel)]="email" class="form-control" />
        </div>
        <div class="col-md-2 col-sm-6">
          <button type="button" (click)="openModalWithComponent()" class="btn btn-success">Criar Prescrição</button>
        </div>
      </div>
    </div>

    <div *ngIf="prescricoes.length > 0">

      <div class="card-body">
        <table class="table table-striped table-responsive table-hover">
          <thead>
            <tr>
              <th>Farmaco</th>
              <th>Unidades</th>
              <th>Validade</th>
              <th>Posologia</th>
              <th>Concentração</th>
              <th>Forma</th>
              <th>Quantidade</th>
              <th>Eliminar</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let prescricao of prescricoes">
              <td>{{prescricao.farmaco.nome}}</td>
              <td>{{prescricao.quantidade}}</td>
              <td>{{prescricao.validade | formateDate}}</td>
              <td>{{prescricao.posologia.frequencia}}</td>
              <td>{{prescricao.apresentacao.concentracao}}</td>
              <td>{{prescricao.apresentacao.forma}}</td>
              <td>{{prescricao.apresentacao.quantidade}}</td>
              <td>
                <button type="button" (click)="eliminar(prescricao)" class="btn btn-danger">
                  <i class="fa fa-remove"></i>
                </button>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="card-footer">
        <div class="col">
          <button type="submit" [disabled]="sucesso || prescricoes.length == 0 || !email" (click)="criarReceita()" class="btn btn-success">Criar Receita</button>
          <button type="button" class="btn btn-danger" (click)="novaReceita()">Nova Receita</button>
        </div>
      </div>
    </div>
  </div>
</div>