<div class="modal-header">
  <h4 class="modal-title pull-left">{{title}}</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="fechar(); bsModalRef.hide();">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
    <div class="form-group row">
        <div class="col-md-12">
          <textarea id="textarea-input" name="textarea-input" rows="8"
           class="form-control" placeholder="Comentário" [(ngModel)] = "comentario"></textarea>
        </div>
      </div>
  <button type="button" [disabled] = "!comentario" class="btn btn-success" (click)="guardar(); bsModalRef.hide()">
    <i class="icon-envelope-letter"></i> Enviar</button>
</div>