<div class="card">
  <div class="card-header">
    <strong>Ordens De Encomenda Por Entregar</strong>
  </div>
  <div class="card-body">
    <table class="table table-bordered table-striped table-responsive table-hover">
      <thead>
        <tr>
          <th>Período</th>
          <th>Farmaco</th>
          <th>Medicamento</th>
          <th>Forma</th>
          <th>Concentração</th>
          <th>Quantidade por embalagem</th>
          <th>Quantidade Encomendada</th>
          <th>Data</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let ordemEncomenda of ordensEncomenda">
          <td *ngIf="ordemEncomenda.isManha">
            Manha
          </td>
          <td *ngIf="!ordemEncomenda.isManha">
            Tarde
          </td>
          <td>{{ordemEncomenda.medicamento.nomeFarmaco}}</td>
          <td>{{ordemEncomenda.medicamento.nome}}</td>
          <td>{{ordemEncomenda.medicamento.forma}}</td>
          <td>{{ordemEncomenda.medicamento.concentracao}}</td>
          <td>{{ordemEncomenda.medicamento.quantidade}}</td>
          <td>{{ordemEncomenda.quantidade}}</td>
          <td>{{ordemEncomenda.data | formateDate}}</td>
        </tr>
        <tr>
          <td *ngIf="ordensEncomenda.length == 0" colspan="8" class="text-center">
            Não existem ordens de encomenda por entregar
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="card">
  <div class="card-header">
    <strong>Ordens De Encomenda Por Confirmar</strong>
  </div>
  <div class="card-body">
    <table class="table table-bordered table-striped table-responsive table-hover">
      <thead>
        <tr>
          <th>Período</th>
          <th>Farmaco</th>
          <th>Medicamento</th>
          <th>Forma</th>
          <th>Concentração</th>
          <th>Quantidade por embalagem</th>
          <th>Quantidade Encomendada</th>
          <th>Data</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let ordemEncomenda of ordensEncomendaPorConfirmar">
          <td *ngIf="ordemEncomenda.isManha">
            Manha
          </td>
          <td *ngIf="!ordemEncomenda.isManha">
            Tarde
          </td>
          <td>{{ordemEncomenda.medicamento.nomeFarmaco}}</td>
          <td>{{ordemEncomenda.medicamento.nome}}</td>
          <td>{{ordemEncomenda.medicamento.forma}}</td>
          <td>{{ordemEncomenda.medicamento.concentracao}}</td>
          <td>{{ordemEncomenda.medicamento.quantidade}}</td>
          <td>{{ordemEncomenda.quantidade}}</td>
          <td>{{ordemEncomenda.data | formateDate}}</td>
          <td>
            <button type="button" (click)="confirmar(ordemEncomenda)" class="btn btn-success">Confirmar</button>
          </td>
        </tr>
        <tr>
          <td *ngIf="ordensEncomendaPorConfirmar.length == 0" colspan="9" class="text-center">
            Não existem ordens de encomenda por confirmar 
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>