<form (ngSubmit)="search()">
  <div class="card">
    <div class="card-header">
      <strong>Receita</strong>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-sm-12">
          <div class="form-group">
            <div class="input-group stylish-input-group">
              <input type="text" class="form-control" id="name" name="Search" placeholder="Id Receita" [(ngModel)]="receitaId">
              <button *ngIf="!loading" button type="submit">
                <i class="fa fa-search"></i>
              </button>
              <button *ngIf="loading" disabled>
                <i class="fa fa-spinner fa-spin"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="receita != null">
        <table class="table table-striped table-responsive table-hover">
          <thead>
            <tr>
              <th>Medico</th>
              <th>Paciente</th>
              <th>Data</th>
              <th>Prescricoes</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>{{receita.medico.name}}</td>
              <td>{{receita.paciente.name}}</td>
              <td>{{receita.data | formateDate}}</td>
              <td *ngIf="prescricoes.length == 0">
                <button type="button" (click)="showPrescricoes()" class="btn btn-success">Mostrar</button>
              </td>
              <td *ngIf="prescricoes.length > 0">
                <button type="button" (click)="dontShowPrescricoes()" class="btn btn-danger">Esconder</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</form>
<div *ngIf="prescricoes.length > 0">
  <div class="card">
    <div class="card-header">
      <strong>Prescrições</strong>
    </div>
    <div class="card-body">
      <table class="table table-striped table-responsive table-hover">
        <thead>
          <tr>
            <th>Farmaco</th>
            <th>Unidades</th>
            <th>Validade</th>
            <th>Posologia</th>
            <th>Concentração</th>
            <th>Forma</th>
            <th>Quantidade</th>
            <th>Aviamentos</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let prescricao of prescricoes">
            <td>{{prescricao.farmaco}}</td>
            <td>{{prescricao.quantidade}}</td>
            <td>{{prescricao.validade | formateDate}}</td>
            <td>{{prescricao.posologiaPrescrita}}</td>
            <td>{{prescricao.apresentacao.concentracao}}</td>
            <td>{{prescricao.apresentacao.forma}}</td>
            <td>{{prescricao.apresentacao.quantidade}}</td>
            <td *ngIf="!prescricao.haveAviamentos">
              <button type="button" [disabled]="!mostrarAviamentos" (click)="showAviamentos(prescricao)" class="btn btn-success">Mostrar</button>
            </td>
            <td *ngIf="prescricao.haveAviamentos">
              <button type="button" (click)="dontShowAviamentos()" class="btn btn-danger">Esconder</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div *ngIf="prescricao && prescricao.haveAviamentos">
  <div class="card">
    <div class="card-header">
      <strong>Aviamentos</strong>
    </div>
    <div class="card-body">
      <table class="table table-striped table-responsive">
        <thead>
          <tr>
            <th>Unidades</th>
            <th>Data</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let aviamento of prescricao.aviamentos">
            <td>{{aviamento.quantidade}}</td>
            <td>{{aviamento.data | formateDate}}</td>
          </tr>
        </tbody>
      </table>
        <button *ngIf="!loadingAviamentos" type="button"  (click)="openModalWithComponent()" class="btn btn-success">Aviar</button>
        <button *ngIf="loadingAviamentos" type="button" disabled class="btn btn-success">
          <i class="fa fa-spinner fa-spin"></i>
        </button>
    </div>
  </div>
</div>