<div class='card'>
    <div class='card-body text-center embed-responsive embed-responsive-16by9'>
          <iframe class='embed-responsive-item' src="https://www.google.com/maps/d/embed?mid=1KmyBYyKVIow1IP7gHjZi-ByUWx85ddzz"></iframe>
    </div>
</div>