<div class="col-lg-20">
  <div class="card">
    <div class="card-header">
      Medicamentos mais Requisitados nos Últimos 15 Dias
    </div>
    <div class="card-body text-center">
      <app-bar-graph *ngIf='info && info.values.length > 0' [info]='info'></app-bar-graph>
      <p *ngIf='info && info.values.length == 0'> Não existem stocks na farmácia </p>
    </div>
  </div>
</div>
<!--/.col-->