<div class="col-lg-20">
  <div class="card">
    <div class="card-header">
      Nº de receitas criadas por dia da semana (último ano)
    </div>
    <div class="card-body text-center">
      <app-line-graph *ngIf='infoLineGraph' [info]='infoLineGraph'></app-line-graph>
    </div>
  </div>
  <div>
    <app-anonimo></app-anonimo>
  </div>
</div>
<!--/.col-->