<div class="modal-header">
  <h4 class="modal-title pull-left">Chave de confirmação</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide();">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="form-group row">
    <label class="col-md-4">Introduza a chave:</label>
    <div class="col-md-8">
      <div class="class input-group">
      <input type="text" class="form-control" id="inputQuantidade" name="chave" placeholder="Chave de confirmação" [(ngModel)]="chave">
      <span class="input-group-btn">
        <button type="button" class="btn btn-primary" (click)="postSecret()">Submit</button>
      </span>
      </div>
    </div>
  </div>

</div>