<div class="card">
  <div class="card-header">
    <i *ngIf="loading" class="fa fa-spinner fa-spin"></i>
    <strong>Stocks</strong>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-12">
        <button *ngIf="!savingStock" type="button" (click)="addStock()" class="btn btn-success" [disabled]="loading">
          Adicionar stock
        </button>
        <button *ngIf="savingStock" type="button" [disabled] class="btn btn-success">
          <i class="fa fa-spinner fa-spin"></i>
        </button>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-12">
        <table class="table table-bordered table-striped table-responsive table-hover">
          <thead>
            <tr>
              <th>Medicamento</th>
              <th>Farmaco</th>
              <th>Forma</th>
              <th>Concentração</th>
              <th>Qtd Atual</th>
              <th>Qtd Mínima</th>
              <th>Qtd Lote</th>
              <th>Estado</th>
              <th>Editar</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let stock of stocks">
              <td *ngIf="!stock.eliminado">{{stock.medicamento.nome}}</td>
              <td *ngIf="!stock.eliminado">{{stock.medicamento.nomeFarmaco}}</td>
              <td *ngIf="!stock.eliminado">{{stock.medicamento.forma}}</td>
              <td *ngIf="!stock.eliminado">{{stock.medicamento.concentracao}}</td>
              <td *ngIf="!stock.eliminado">{{stock.quantidadeAtual}}</td>
              <td *ngIf="!stock.eliminado">{{stock.quantidadeMinima}}</td>
              <td *ngIf="!stock.eliminado">{{stock.quantidadeLote}}</td>
              <td *ngIf="stock.eliminado">
                <del>{{stock.medicamento.nome}}</del>
              </td>
              <td *ngIf="stock.eliminado">
                <del>{{stock.medicamento.nomeFarmaco}}</del>
              </td>
              <td *ngIf="stock.eliminado">
                <del>{{stock.medicamento.forma}}</del>
              </td>
              <td *ngIf="stock.eliminado">
                <del>{{stock.medicamento.concentracao}}</del>
              </td>
              <td *ngIf="stock.eliminado">
                <del>{{stock.quantidadeAtual}}</del>
              </td>
              <td *ngIf="stock.eliminado">
                <del>{{stock.quantidadeMinima}}</del>
              </td>
              <td *ngIf="stock.eliminado">
                <del>{{stock.quantidadeLote}}</del>
              </td>
              <td *ngIf="stock.isEncomendado">
                <span class="badge badge-success">Encomendado</span>
              </td>
              <td *ngIf="!stock.isEncomendado">
                <span class="badge badge-danger">Não Encomendado</span>
              </td>
              <td>
                <div class="row">
                  <div class="col-md-3">
                    <button type="button" [disabled]="stock.eliminado" title="editar" (click)="editar(stock)" class="btn btn-info">
                      <i class="fa fa-edit"></i>
                    </button>
                  </div>
                  <div class="col-md-3">
                    <button type="button" [disabled]="stock.eliminado || stock.editado || !stock.podeEliminar" title="eliminar" (click)="eliminar(stock)"
                      class="btn btn-danger">
                      <i class="fa fa-remove"></i>
                    </button>
                  </div>
                  <div class="col-md-6">
                    <button type="button" [disabled]="!stock.editado" title="guardar alterações" (click)="guardar(stock)" class="btn btn-secondary">
                      <i *ngIf="!stock.isSaving" class="fa fa-save"></i>
                      <i *ngIf="stock.isSaving" class="fa fa-spinner fa-spin"></i>
                    </button>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

  </div>
</div>